# Build output
dist/
.output/

# Generated types and caches
.astro/
.vercel/
.cache/
.netlify/
.temp/

# Dependencies
node_modules
.pnpm-store/
.yarn
.unlighthouse
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Testing and coverage
coverage/
.nyc_output/

# Temporary files
*.tmp
*.temp
.cache/
