---
import { SITE } from '@/config';
import PageLayout from '@/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import HeroImage from '@/assets/images/david-d-lawson-profile-full.png';
import Container from '@/components/Container.astro';
const meta = {
  title: 'About',
  description: SITE.description,
  canonical: SITE.origin + '/about',
};
---

<PageLayout {meta}>
  <Container
    variant="tight"
    class="flex flex-col-reverse overflow-hidden lg:flex-row">
    <!-- Text Section -->
    <div class="flex w-full flex-col items-center justify-center px-6 md:py-10 lg:w-1/2 lg:items-start lg:py-0">
      <div class="w-full rounded-2xl py-8">
        <h1
          class="mb-6 text-center text-4xl font-extrabold text-slate-950 md:text-5xl lg:text-left lg:text-6xl dark:text-slate-100">
          About Me
        </h1>
        <div
          class="text-md mx-auto space-y-6 text-slate-950/75 md:mx-0 md:text-xl md:leading-relaxed dark:text-slate-300">
          <p>
            Hey, I'm David. I currently work as the <strong>Customer Success</strong> manager at Wiz, where my focus is on
            helping customers maximise the return on their efforts to secure their cloud estate. I also champion the Voice
            of the Customer and take an uncompromisingly data-driven approach to improving the overall customer experience.
          </p>
          <p>
            Outside of work, I have a keen interest in many different creative pursuits, from music and filmography to
            writing and building things (both physical and digital). I’m an avid traveller and occasional fitness
            enthusiast.
          </p>
          <p>
            I’m also <strong>passionate</strong> about generative AI, LLMs and transformer technologies and their potential
            to positively impact the world 🌍
          </p>
        </div>
      </div>
    </div>
    <!-- Image Section -->
    <div
      class="relative flex h-[420px] items-center justify-center mask-r-from-95% mask-b-from-90% mask-l-from-95% mask-radial-[85%_95%] mask-radial-from-95% mask-alpha lg:h-full lg:w-1/2 lg:mask-t-from-90%">
      <div
        class="absolute inset-0 bg-gradient-to-tr from-sky-300 to-sky-600 opacity-10 mix-blend-overlay dark:from-sky-800 dark:via-sky-700 dark:to-sky-900 dark:opacity-10">
      </div>
      <Image
        src={HeroImage}
        alt="David D Lawson Profile Photo"
        format="webp"
        width={640}
        height={960}
        class="h-full w-full rounded-2xl object-contain object-top backdrop-blur-md lg:object-cover lg:object-center"
      />
    </div>
  </Container>
</PageLayout>
