---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  class?: string;
}

const { class: customClass, ...rest } = Astro.props;
---

<div {...rest} class:list={['mx-auto w-full max-w-[1400px] px-6 sm:px-12', customClass]}>
  <slot />
</div>
