---

---

<svg class="grain-svg" aria-hidden="true">
  <filter id="grain">
    <feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"></feTurbulence>
    <feColorMatrix type="saturate" values="0"></feColorMatrix>
  </filter>
</svg>
<div
  aria-hidden="true"
  class="z-overlay grain-filter pointer-events-none fixed inset-[-50%] h-[200%] w-[200%] opacity-ghost"
>
</div>

<style>
  .grain-svg {
    position: absolute;
    width: 0;
    height: 0;
  }
  .grain-filter {
    filter: url(#grain);
  }
</style>
