---
import { NAV } from '@/config';
import ToggleTheme from '@/components/ToggleTheme.astro';
const isActive = (navPath: string) => {
  const pathname = new URL(Astro.request.url).pathname;
  return pathname === navPath || (pathname.startsWith(navPath) && navPath !== '/');
};
---

<header id="page-header">
  <div class="flex flex-none items-center py-8">
    <div class="container mx-auto px-4 lg:px-10 xl:max-w-7xl">
      <div class="flex items-center justify-center">
        <nav
          class="flex items-center space-x-8 text-center md:space-x-10"
          aria-label="Main navigation">
          {
            NAV.map(({ name, href }) => (
              <a
                href={href}
                class:list={[
                  'md:text-md relative text-base font-medium',
                  `${isActive(href) ? 'text-sky-600 dark:text-sky-200' : 'text-slate-900 hover:text-sky-600 dark:text-white dark:hover:text-sky-200'}`,
                ]}>
                <span>{name}</span>
                <span
                  class:list={[
                    'custom-cubic-bezier pointer-events-none absolute -bottom-1 left-0 h-0.5 bg-sky-500 transition-all dark:bg-sky-400',
                    `${isActive(href) ? 'w-full' : 'w-0'}`,
                  ]}
                  aria-hidden="true"
                />
              </a>
            ))
          }
        </nav>
        <div class="ml-8">
          <ToggleTheme iconClass="size-6" />
        </div>
      </div>
    </div>
  </div>
</header>
