---
import { Icon } from 'astro-icon';
export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
}

const {
  label = 'Toggle between Dark and Light mode',
  class:
    className = 'inline-block rounded-lg p-2.5 text-sm text-gray-500 hover:bg-primary-100 hover:text-primary-500 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700',
  iconClass = 'w-6 h-6',
} = Astro.props;

// Once I implement Svelte I will be able to use the `tabler:moon` Icon on click with some built in reactivity
const iconName = 'tabler:sun';
---

{
  (
    <button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
      <Icon name={iconName} class={iconClass} />
    </button>
  )
}
