---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import type { MetaSEO } from '@/env';
export interface Props {
  meta?: MetaSEO;
}

const { meta } = Astro.props;
---

<BaseLayout {meta}>
  <a href="#main" class="absolute left-[-9999px] z-100 bg-primary-800 p-6 text-white focus:left-0 focus:translate-x-1/2"
    >Skip to main content</a
  >
  <Header />
  <main id="main">
    <slot />
  </main>
  <Footer />
</BaseLayout>
