---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Header from '@/components/Header.astro';
export interface Props {
  polkaHeight: string;
}

const { polkaHeight = 'h-[30%]' } = Astro.props;
---

<BaseLayout>
  <a href="#main" class="absolute left-[-9999px] z-100 bg-primary-800 p-6 text-white focus:left-0 focus:translate-x-1/2"
    >Skip to main content</a
  >
  <Header />
  <main id="main">
    <div class={`absolute inset-0 -z-1 w-full ${polkaHeight} opacity-30 polka-light dark:polka-dark`}></div>
    <slot />
  </main>
</BaseLayout>
